$primary: rgba(228, 0, 0, 0.727);
$auxiliar: #1e2c35;
$white-color: #FFF;
$radius: 0.3em;
$radius-lg: 50px;

@mixin round-border($rad: 0.3em) {
  -webkit-border-radius: $rad;
  border-radius: $rad;
}

@mixin default-shadow {
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}

@mixin image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/** Geral **/
body {
  font-family: "Roboto Slab", serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.titulo-secao {
  text-decoration: underline;
  font-size: 2em;
  text-align: center;
}

.sobre,
.planos,
.blog,
.contato {
  padding: 3em 0 6em 0;
}

h2 {
  margin-top: 0;
}

/** Header **/
header {
  border-top: 5px solid $primary;
  background: rgba($auxiliar, 0.8);
  height: 90px;
  width: 100%;
  position: absolute;
}

header .container {
  position: relative;
}

.menu-principal {
  position: absolute;
  right: 0;
  top: -.5em;
  font-size: 1.2em;
  font-weight: lighter;

  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
    width: 5em;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

/** Destaque **/
.destaque {
  background: url(../../imagens/destaque.jpg) center bottom repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  height: 330px;
  padding-top: 10em;

  p {
    width: 30em;
  }

  p:first-child {
    width: 30em;
    font-size: 1.3em;
    line-height: 1.1;
  }

  p:first-child:first-line {
    font-size: 2.2em;
    font-weight: bold;
  }
}

button {
  margin-top: 1em;
  background: $primary;
  border: 0;
  padding: .6em;
  font-size: 1.2em;
  @include round-border($radius-lg);
  @include default-shadow;
  font-weight: bold;
}


/** Sobre **/

.duas-colunas {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  columns: 1;

  h3 {
    margin: 0;
  }
}

.sobre {
  background: #ebebeb;

  p {
    font: .9em/1.8 sans-serif;
  }

  p:first-child {
    margin-bottom: 3em;
  }
}

.plataformas {
  padding: 0;

  li {
    display: inline-block;
    width: 50px;
    height: 60px;
    @include image-replacement();
    background-position: center;
    margin: 1em 1.5em 0 0;
  }

  li:nth-child(1) {
    background-image: url(../../imagens/logo-apple.png);
  }

  li:nth-child(2) {
    background-image: url(../../imagens/logo-android.png);
  }

  li:nth-child(3) {
    background-image: url(../../imagens/logo-windows.png);
  }

  li:nth-child(4) {
    background-image: url(../../imagens/logo-blackberry.png);
  }
}

/** Planos **/
.planos {
  background: $auxiliar;

  h2 {
    color: $white-color;
  }
}

.plano {
  background: white;
  width: 18em;
  display: inline-block;
  margin: 1em 0 0 1.4em;
  padding-bottom: 2em;
}

.plano:hover {
  background: #dedede;
}

.plano h3 {
  color: $white-color;
  font-size: 1.8em;
  background: $primary;
  text-align: center;
  height: 2em;
  padding-top: .6em;
  margin-top: 0;
}

.plano div {
  text-align: center;
  color: $primary;
  font-size: 2.75em;
}

.itens-plano {
  padding-left: 1.2em;
}

.itens-plano li {
  font-size: 1em;
  list-style: none;
  border-bottom: 1px solid #acacac;
  padding: .5em;
  width: 14.8em;
}

.itens-plano li:last-child {
  border: 0;
}

.itens-plano span {
  float: right;
}

.plano button {
  background: $primary;
  border: 0;
  color: $white-color;
  width: 210px;
  height: 38px;
  font-size: 1.2em;
  @include round-border();
  @include default-shadow;
  margin-left: 2em;
}

.icone-check,
.icone-x {
  background: url(../../imagens/sprite.png) no-repeat;
  width: 18px;
  height: 18px;
}

.icone-check {
  background-position: -5px -5px;
}

.icone-x {
  background-position: -33px -5px;
}



/** Blog **/
.blog {
  display: block;
  position: relative;
}

.blog::after {
  content: "";
  background: url(../../imagens/fundo.png);
  background-size: 25px 25px;
  opacity: .15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.post-destaque,
.posts-antigos {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.post-destaque {
  margin-right: 2em;

  img {
    width: 100%;
  }
}

.posts-antigos {
  a {
    text-decoration: none;
    color: black;
    background: url(../../imagens/icone-relogio.png) left center no-repeat;
    padding-left: 2.5em;
    height: 1.7em;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }
}

/** Contato **/
.contato {

  input,
  button {
    display: block;
  }

  form {
    margin: 0 auto;
    width: 50%;
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: .8em;
    padding: 4px 8px;
    @include round-border();
    border: 2px solid #ccc;
  }

  button {
    margin: 0 auto;
    background: $primary;
    border: 0;
    color: $white-color;
    width: 210px;
    height: 38px;
    font-size: 1.2em;
    @include round-border();
    @include default-shadow;
  }
}

/** Footer **/
footer {
  display: block;
  position: relative;

  &::after {
    content: "";
    background: url(../../imagens/fundo-rodape.png);
    opacity: .02;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  &::before {
    content: "";
    background: $auxiliar;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .container {
    padding-top: 3em;
    height: 6.5em;
    position: relative;
  }

  .container img {
    width: 250px;
  }
}

.menu-rodape,
.social {
  position: absolute;
}


.menu-rodape {
  top: 1em;
  right: 0;

  ul li {
    display: inline-block;
    margin-left: 2em;
  }

  li,
  .social {
    li {
      display: inline;
    }
  }
}

.social {
  bottom: 0;
  right: 0;
}

footer a {
  color: $white-color;
  text-decoration: none;
}

.social li {
  float: left;
}

.social li a {
  display: block;
  width: 55px;
  height: 55px;
  @include image-replacement();
  margin-left: 1em;
}

.social a {
  background-position: top;
  background-size: 50px 50px;
}

.social a[href*="facebook"] {
  background-image: url(../../imagens/facebook.png);
}

.social a[href*="twitter"] {
  background-image: url(../../imagens/twitter.png);
}

.social a[href*="instagram"] {
  background-image: url(../../imagens/instagram.png);
}